In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/Car_Purchasing_Data.csv')

In [4]:
df

,Customer Name,Customer e-mail,Country,Gender,Age,Annual Salary,Credit Card Debt,Net Worth,Car Purchase Amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248
...,...,...,...,...,...,...,...,...,...
495,Walter,ligula@Cumsociis.ca,Nepal,0,41.462515,71942.40291,6995.902524,541670.1016,48901.44342
496,Vanna,Cum.sociis.natoque@Sedmolestie.edu,Zimbabwe,1,37.642000,56039.49793,12301.456790,360419.0988,31491.41457
497,Pearl,penatibus.et@massanonante.com,Philippines,1,53.943497,68888.77805,10611.606860,764531.3203,64147.28888
498,Nell,Quisque.varius@arcuVivamussit.net,Botswana,1,59.160509,49811.99062,14013.034510,337826.6382,45442.15353
499,Marla,Camaron.marla@hotmail.com,marlal,1,46.731152,61370.67766,9391.341628,462946.4924,45107.22566

In [5]:
df.describe()

,Gender,Age,Annual Salary,Credit Card Debt,Net Worth,Car Purchase Amount
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,0.506000,46.241674,62127.239608,9607.645049,431475.713625,44209.799218
std,0.500465,7.978862,11703.378228,3489.187973,173536.756340,10773.178744
min,0.000000,20.000000,20000.000000,100.000000,20000.000000,9000.000000
25%,0.000000,40.949969,54391.977195,7397.515792,299824.195900,37629.896040
50%,1.000000,46.049901,62915.497035,9655.035568,426750.120650,43997.783390
75%,1.000000,51.612263,70117.862005,11798.867487,557324.478725,51254.709517
max,1.000000,70.000000,100000.000000,20000.000000,1000000.000000,80000.000000

In [ ]:
# 연봉이 가장 높은 사람???

In [7]:
df.loc[ df['Credit Card Debt'] == df['Annual Salary'].max() , ]

Empty DataFrame
Columns: [Customer Name, Customer e-mail, Country, Gender, Age, Annual Salary, Credit Card Debt, Net Worth, Car Purchase Amount]
Index: []

In [8]:
df.corr(numeric_only=True)

,Gender,Age,Annual Salary,Credit Card Debt,Net Worth,Car Purchase Amount
Gender,1.000000,-0.064481,-0.036499,0.024193,-0.008395,-0.066408
Age,-0.064481,1.000000,0.000130,0.034721,0.020356,0.632865
Annual Salary,-0.036499,0.000130,1.000000,0.049599,0.014767,0.617862
Credit Card Debt,0.024193,0.034721,0.049599,1.000000,-0.049378,0.028882
Net Worth,-0.008395,0.020356,0.014767,-0.049378,1.000000,0.488580
Car Purchase Amount,-0.066408,0.632865,0.617862,0.028882,0.488580,1.000000

In [9]:
import seaborn as sb

In [ ]:
sb.heatmap(df_corr, annot=True, vmin=1, vmax=1, cmap='coolwarm', linewidths= )

In [ ]:
# 구매 금액 예측하는 인공지능 개발

In [ ]:
df.is

In [ ]:
from sklearn selection import train_test_split

In [13]:
df_y.plot(kind='bar')

NameError: name 'df_y' is not defined

In [14]:
df_y.reset_index(drop=True, inplace=True)

NameError: name 'df_y' is not defined

In [15]:
regressor2.fit(X_train, y_train)

NameError: name 'regressor2' is not defined

In [16]:
y_pred2 = regressor2(y_test, y_pred2)

NameError: name 'regressor2' is not defined

In [17]:
import numpy as np

In [18]:
new_data = np.array( [40, 50000, 10000, 600000] )

In [19]:
new_data = new_data.reshape(1, 4)

In [20]:
regressor1.predict(new_data)

NameError: name 'regressor1' is not defined

In [21]:
import joblib

In [24]:
joblib.dump(regressor1, 'model/regressor.pkl')

NameError: name 'regressor1' is not defined